 #payments_table  { display: block; }

/*#payments_table label
	{ 
	  display: flex;
	  width: 30px;
	  margin-left: 0;
	}
*/

#payments_table th, 
#payments_table td
	{ 
	  height: 50px;
	 /* display: inline-block;*/
	}




 /* START */
 #payments_table  table {
            width: 100%;
 }

 #payments_table  thead,  
 #payments_table tbody,  
 #payments_table tr,  
 #payments_table td,  
 #payments_table th { 
 	border: none;

 	display: block; 
 }


 #payments_table tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

 #payments_table tbody {
     /*  CHG-1     height: 375px;
            overflow-y: auto;*/
        }

 #payments_table  thead {
        }


 #payments_table tbody td,
 #payments_table thead th {
            float: left;
        }
        
        

input[type="text"]:disabled {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.simpledropdown_touched .react-selectize-search-field-and-selected-values
{
    background-color: lightyellow !important;
}

.newRow
{
	background-color: lightyellow; /*!important;*/
	border-color: #c2dac3 !important;
}

.deleted 
{
	background-color: #c16;
}

.selected
{
	background-color: powderblue;
}

.error
{
	background-color: pink;
}

.simpledropdown_ro_touched .react-selectize-control 
{
	background-image: none !important;
    background-color: transparent !important;
    border: none  !important;
	background-color: lightyellow !important;
}
.simpledropdown_ro .react-selectize-control 
{
	
	background-image: none !important;
    background-color: transparent !important;
    border: none  !important;
}

.simpledropdown_ro .react-selectize-toggle-button-container 
{
    display: none  !important;
}

/*.react-selectize-control {
	background-image: none !important;
    background-color: transparent !important;
    border: none  !important;
}*/

#payments_table .l_header 
	{ 
		width: 65px;
	}

#payments_table .l_cell 
	{ 
		width: 65px;
	}
		
#payments_table .d_header 
	{ 
		width: 112px;
	}
			
#payments_table .d_cell 
	{ 
		width: 112px;
		padding-top: 7px;
	}
	
#payments_table .i_header 
	{ 
		width: 97px;
	}
	
#payments_table .i_cell 
	{ 
		width: 97px;
		padding-top: 7px;
	}

#payments_table .c_header,
#payments_table .a_header 
	{ 
		width: 162px;
	}

#payments_table .c_cell, 
#payments_table .a_cell
	{ 
		width: 162px;
	}

.hide 
	{ 
		display: none; 
	}

#payments_table .check_header,
#payments_table .s_header 
	{ 
		width: 42px;
	}

#payments_table .check_cell,
#payments_table .s_cell 
	{ 
		width: 42px;
	}
		
#payments_table .g_header 
	{ 
		width: 72px;
	}
		
#payments_table .g_cell 
	{ 
		width: 72px;
		padding-top: 7px;
	}

#payments_table .descr_header 
	{ 
		width: 50px;
	}

#payments_table .descr_header .checkbox-personalized label
	{ 
		padding-left: 5px;
	}
			
#payments_table .descr_cell 
	{ 
		width: 50px;
		padding-top: 7px;
	}
		
#payments_table .deleted_header 
	{ 
		padding-top: 13px;
		padding-bottom: 0;
		text-align: center;
		width: 42px;
	}
	
#payments_table .deleted_cell
	{ 
		width: 42px;
		padding-top: 7px;
	}

#payments_table .deleted_cell .form-control
	{ 
		padding-left: 9px;
	}

#payments_table .header_tall
	{ 
		height: 85px;
	}

#payments_table .td_tall
	{ 
		height: 160px;
	}


#recurringTimes
{
		height: 38px;
		width: 60px;
		text-align: center;
}


