#accounts_table  { display: block; }

#accounts_table th, 
#accounts_table td
	{ 
	  height: 50px;
	}




 /* START */
#accounts_table  table {
            width: 100%;
 }

#accounts_table  thead,  
#accounts_table tbody,  
#accounts_table tr,  
#accounts_table td,  
#accounts_table th {
	border: none;
 	display: block; 
 }

#accounts_table tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

#accounts_table tbody {
            height: 375px;
            overflow-y: auto;
        }

#accounts_table  thead {
            /* fallback */
        }


#accounts_table tbody td,
#accounts_table thead th {
            float: left;
        }
        
/* END */        

input[type="text"]:disabled {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.simpledropdown_touched .react-selectize-search-field-and-selected-values
{
    background-color: lightyellow !important;
}

.newRow
{
	background-color: lightyellow; /*!important;*/
	border-color: #c2dac3 !important;
}

.deleted 
{
	background-color: #c16;
}

.selected
{
	background-color: powderblue;
}

.error
{
	background-color: pink;
}

.simpledropdown_ro_touched .react-selectize-control 
{
	background-image: none !important;
    background-color: transparent !important;
    border: none  !important;
	background-color: lightyellow !important;
}
.simpledropdown_ro .react-selectize-control 
{
	
	background-image: none !important;
    background-color: transparent !important;
    border: none  !important;
}

.simpledropdown_ro .react-selectize-toggle-button-container 
{
    display: none  !important;
}

#accounts_table .credit_header 
	{ 
		width: 62px;
	}
	
#accounts_table .credit_cell 
	{ 
		width: 62px;
	}

.hide 
	{ 
		display: none; 
	}


#accounts_table .active_header 
	{ 
		width: 62px;
	}


#accounts_table .active_cell 
	{ 
		width: 42px;
	}
		
#accounts_table .descr_header 
	{ 
		width: 172px;
	}
		
#accounts_table .descr_cell 
	{ 
		width: 172px;
	}

#accounts_table .color_header 
	{ 
		width: 50px;
	}
		
#accounts_table .color_cell 
	{ 
		width: 50px;
	}

		
#accounts_table .deleted_header 
	{ 
		width: 50px;
	}
	
#accounts_table .deleted_cell
	{ 
		width: 50px;
	}

